nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: black;
    margin: 0;
    font-size: 40px;
    
}

.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    padding-top: 5px;
    padding-left: 20px;
}

.nav li a {
    text-decoration: none;
    color: blueviolet;
}
.nav .nav-search{
    margin-top: 5px;
    flex: 1px;
    display: flex;
    margin-left: 15%;
    margin-right: 10%; width: 50px;
   
}

.nav .nav-search input {
    flex: 1;
    color: orange;
    border: 1px solid rgb(194, 188, 188);
    height: 50px;
    border-right: 0px;
   padding: 20px;
   border-left:none ;
   font-size: large;
}

.nav .nav-search button {
    color: white;
    background-color: orange;
    border: 1px solid orange;
    height: 50px;
    width: 50px;
    border-left: 0px;
}
.bi-suit-heart{
    font-size: xx-large;
}
.bi-bag{
    font-size: xx-large;
}

.nav select{
    border-right:none ;
    border-color: rgb(194, 188, 188) ;
    padding-left: 10px;
}
.navbar {
    padding-left: 10%;
    
}
 .navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li a:active {
    background-color: orange;
  }
