<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp class="common-form" (ngSubmit)="submit()">
            <input type="text" class="form-input" name="fullName" ngModel placeholder="Enter Name">
            <input type="password" class="form-input" name="password" ngModel placeholder="Enter Password">
            <input type="text" class="form-input" name="email" ngModel placeholder="Enter Email">  
            <button class="form-button">Sign-Up</button>  
        </form>
    </div>
</div>

